fastapi
uvicorn[standard]
SQLAlchemy
pydantic[email]
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pymilvus
python-dotenv
openai
typing
pydantic
pydantic[email]
pydantic_settings
python-multipart
pymilvus
python-jose[cryptography]
passlib
python-dotenv
uvicorn
markitdown
pypandoc
pillow